/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    
    background-color: rgba(229, 84, 115, 0.10);
    height: 650px;
}
.heading{
    color: #272727;

font-size: 60px;

font-weight: 800;

}


.banner {
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    padding: 30px 30px 30px 150px;
    
    
    
}



 .flower-pic {
    width: 450px;
    height: 620px;
    margin-right: 100px;
   
    
   
    


}

.btn-primary {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    

}

 .banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 200;
    padding-top: 15x;
    padding-bottom: 15px;


}



/* Featured section */
.feature-title {
    text-align: center;
    color: #272727;


font-size: 40px;

font-weight: 800;
padding-top: 100px;

}
.feature-info{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;

}

.feature-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
}

/* .feature-details {
    border-radius: 300px 300px 0px 0px;
    
    width: 450px;
height: 530px;
  
} */


#figure-description1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 450px;
height: 530px;
padding-left: 20px;
padding-right: 20px;
}
#figure-description2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 450px;
height: 530px;
}
#figure-description3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 450px;
height: 530px;
}
 .figure-info3{
    width: 50px;
height: 50px;
}
.feature-details{
    padding-right: 25px;
}
.figcaption{
    text-decoration: underline;
    text-align: center;
}





/* hot deal section */

 .hot-deal{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
height: 600px;
margin-top: 50px;
 }
 .hot-deal-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
  .deal-btn-primary{
   margin-left: 250px;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
 }

 
.hot-deal-heading{
    color: #272727;

font-size: 40px;

font-weight: 800;

}
.text-color{
    color: #E55473;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;

}
.hot-deal-section2{
    padding-top: 50px;
}


/* instagram section */
.instagram-title{
    color: #272727;
text-align: center;

font-size: 40px;

font-weight: 800;

}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;

}
.instagram-picture{
    width: 340px;
    height: 390px;
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    padding-top: 60px;
}
#instagram-div1{
    padding-right: 24px;
    padding-left: 120px;
    
}
#instagram-div2{
    padding-right: 24px;
}
#instagram-div3{
    padding-right: 24px;
}
#instagram-div4{
    padding-right: 24px;
   
} 
.latest{
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin-left: 350px;
    height: 500px;
    
    
    
    
    
}
.latest .instagram-title{
    padding-top: 50px;
}
.latest .instagram-description{
    padding-bottom: 15px;
}
.form{
    display: flex;
    padding-bottom: 10px;
    padding-left: 280px;
    padding-right: 15px;
    justify-content: center;
    margin-right: 200px;

}
#input{
    width: 450px;
    align-items: center;
    
    padding-right: 15px;
}
.form-btn-primary{
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
   
}
.contact-us{
    background-color:azure;
    height: 500px;
    border-radius: 100px;
    
    justify-content:space-around;
    margin-right: 150px;
    margin-left: 150px;
   
}
.contact-us .hot-deal-heading{
    text-align: center;
}
 #contact-details{
   
    margin-left: 100px;
}
.contact-description{
    width: 500px;
    height: 60px;
    margin-bottom: 10px;
    margin-left: 500px;
}
.contact-btn{
    margin-bottom: 10px;
    margin-left: 500px;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    
}





/* footer section  */
footer {
    background-color: #111010;
    
    height: 440px;
 
    


}
.footer-info{
    text-align: center;
   
}

.footer-content {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    padding-top: 125px;


}

.text-color {
    color: #E55473;
    font-size: 48px;
    font-weight: 700;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);

    font-size: 13px;

    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 32px;

}

.footer-end {
    color: rgba(255, 255, 255, 0.40);


    font-size: 9px;

    font-weight: 200;

} 